
.hot-pic {
    width: 100%;
    height: auto;
}

.hot-pic .main-box {
    width: 7.5rem;
    margin: 0 auto;
    padding: 0.4rem 0;
    overflow: hidden;
}

.hot-pic .main-box h3 {
    position: relative;
    font-size: 0.44rem;
    height: auto;
    margin-bottom: 0.4rem;
    text-align: center;
}

.hot-pic .main-box h3.mt {
    margin-top: 165px;
}

.hot-pic .main-box h3 span {
    position: relative;
    line-height: 0.8rem;
    padding-bottom: 0.1rem;
    display: inline-block;
    vertical-align: top;
}

.hot-pic .main-box h3 span::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-size: 100% 100%;
    background-image: url("https://www.huawei.com/~/media/CORPORATE/minisite/hc2019/v3/img/tit_bottom.png");
}

.hot-pic .main-box .hot-pic-list {
    position: relative;
}

.hot-pic .main-box .hot-pic-list .more-pc {
    display: block;
    font-size: 0.88rem;
    line-height: 0.88rem;
    text-align: center;
    margin-top: 0.2rem;
}

.hot-pic .main-box .hot-pic-list .more-pc a {
    margin: 0 auto;
    display: block;
    width: 6.9rem;
    height: 0.88rem;
    border: 1px solid #ce0e2d;
    border-radius: 4px;
    line-height: 0.86rem;
    /* background: #fff; */
    text-align: center;
    font-size: 0.32rem;
    color: #ce0e2d;
}

.hot-pic .main-box .hot-pic-list .more-pc a:hover {
    color: #fff;
    background: #ce0e2d;
    text-decoration: none;
}

.hot-pic .main-box .hot-pic-list .hot-pic-prev:after {
    position: absolute;
    content: "";
    width: 0.52rem;
    height: 0.21rem;
    left: 50%;
    margin-left: -0.26rem;
    top: 50%;
    margin-top: -0.13rem;
    background-size: 100% 100%;
    background-image: url(https://www.huawei.com/~/media/CORPORATE/minisite/hc2019/v3/img/icon/prevm.png);
}

.hot-pic .main-box .hot-pic-list .hot-pic-next:after {
    position: absolute;
    content: "";
    width: 0.52rem;
    height: 0.21rem;
    left: 50%;
    margin-left: -0.26rem;
    top: 50%;
    margin-top: -0.13rem;
    background-size: 100% 100%;
    background-image: url(https://www.huawei.com/~/media/CORPORATE/minisite/hc2019/v3/img/icon/nextm.png);
}

.hot-pic .main-box .hot-pic-list .ht-ctl {
    height: 0.88rem;
    text-align: center;
    margin: 0.1rem 0;
    margin-bottom: 0.6rem;
}

.hot-pic .main-box .hot-pic-list .ht-ctl a {
    display: inline-block;
    width: 0.88rem;
    height: 0.88rem;
    border-radius: 0.1rem;
    background: #e8382f;
    position: relative;
    margin: 0 0.2rem;
    outline: none;
    vertical-align: top;
}

.hot-pic .main-box .hot-pic-list .ht-ctl a:hover {
    background: #e00325;
}

.hot-pic .main-box .hot-pic-list .swiper-slide .half {
    width: 48%;
    float: left;
    margin-right: 2%;
}

.hot-pic .main-box .hot-pic-list .swiper-slide .fo {
    width: 24%;
    float: left;
    margin-right: 2%;
}

.hot-pic .main-box .hot-pic-list .swiper-slide .fo2 {
    width: 24%;
    float: left;
}

.hot-pic .main-box .hot-pic-list .swiper-slide .hp-box {
    position: relative;
    overflow: hidden;
}

.hot-pic .main-box .hot-pic-list .swiper-slide .hp-box.b1 {
    width: 100%;
    height: 3.3rem;
    float: left;
    margin-bottom: 0.1rem;
}

.hot-pic .main-box .hot-pic-list .swiper-slide .hp-box.b2 {
    width: 48%;
    height: 1.6rem;
    float: left;
    margin-right: 4%;
}

.hot-pic .main-box .hot-pic-list .swiper-slide .hp-box.b3 {
    width: 100%;
    height: 1.6rem;
    float: left;
    margin-bottom: 0.1rem;
}

.hot-pic .main-box .hot-pic-list .swiper-slide .hp-box.b4 {
    width: 100%;
    height: 3.3rem;
    float: left;
    margin-bottom: 0.1rem;
}

.hot-pic .main-box .hot-pic-list .swiper-slide .hp-box.b5 {
    width: 48%;
    height: 1.6rem;
    float: right;
}

.hot-pic .main-box .hot-pic-list .swiper-slide .hp-box img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    max-width: 150%;
    max-height: 150%;
}

.hot-pic .main-box .hot-pic-list .swiper-slide .hp-box p {
    position: absolute;
    width: 1.7rem;
    height: 0.35rem;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    background-image: url(https://www.huawei.com/~/media/CORPORATE/minisite/hc2019/v3/img/tit_bg5.png);
    padding-right: 0.2rem;
    text-align: center;
    color: #fff;
    font-size: 0.22rem;
    line-height: 0.35rem;
    z-index: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .hot-pic .main-box {
        width: 98%;
        margin: 0 auto;
        max-width: 1180px;
        padding: 90px 0 10px 0;
        overflow: hidden;
    }
    .hot-pic .main-box h3 {
        position: relative;
        font-size: 30px;
        height: auto;
        margin-bottom: 30px;
        font-weight: bold;
    }
    .hot-pic .main-box h3 span {
        position: relative;
        line-height: 1.4;
        padding-bottom: 15px;
        display: inline-block;
        vertical-align: top;
        color:#fff;
    }
    .hot-pic .main-box h3 span::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background-size: 100% 100%;
        background-image: url("https://www.huawei.com/~/media/CORPORATE/minisite/hc2019/v3/img/tit_bottom.png");
    }
    .hot-pic .main-box .hot-pic-list {
        position: relative;
    }
    .hot-pic .main-box .hot-pic-list .more-pc,
    .news-box .main-box .more-pc {
        display: block;
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        margin-top: 10px;
        padding-right: 2%;
    }
    .news-box .main-box .more-pc {
        padding-right: 0;
    }
    .hot-pic .main-box .hot-pic-list .more-pc a,
    .news-box .main-box .more-pc a {
        display: inline-block;
        line-height: 40px;
        vertical-align: top;
        width: auto;
        height: auto;
        border: none;
        color: #444;
        border-radius: 0;
        font-size: 16px;
        border-bottom: 2px solid #ce0e2d;
    }
    .hot-pic .main-box .hot-pic-list .more-pc a:hover {
        background: none;
        color: #ce0e2d;
        text-decoration: none;
    }
    .hot-pic .main-box .hot-pic-list a.hot-pic-prev {
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: 36px;
        height: 36px;
        border: 1px solid #fd1520;
        background: #fd1520;
        line-height: 34px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        border-radius: 4px;
        text-decoration: none;
        outline: none;
        margin-right: 20px;
    }
    .hot-pic .main-box .hot-pic-list a.hot-pic-prev:after {
        content: "";
        position: absolute;
        width: 22px;
        height: 9px;
        top: 50%;
        left: 50%;
        margin-left: -11px;
        margin-top: -6px;
        background-size: 100% 100%;
        background-image: url(https://www.huawei.com/~/media/CORPORATE/minisite/hc2019/v3/img/icon/prev2c.png);
    }
    .hot-pic .main-box .hot-pic-list a.hot-pic-next {
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: 36px;
        height: 36px;
        border: 1px solid #fd1520;
        background: #fd1520;
        line-height: 34px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        border-radius: 4px;
        text-decoration: none;
        outline: none;
    }
    .hot-pic .main-box .hot-pic-list a.hot-pic-next:after {
        content: "";
        position: absolute;
        width: 22px;
        height: 9px;
        top: 50%;
        left: 50%;
        margin-left: -11px;
        margin-top: -6px;
        background-size: 100% 100%;
        background-image: url(https://www.huawei.com/~/media/CORPORATE/minisite/hc2019/v3/img/icon/next2c.png);
    }
    .hot-pic .main-box .hot-pic-list .ht-ctl {
        height: 36px;
        text-align: center;
        width: 100%;
        margin-top: 20px;
        padding-right: 2%;
    }
    .hot-pic .main-box .hot-pic-list .ht-ctl a:hover {
        background: #e00325 !important;
    }
    .hot-pic .main-box .hot-pic-list .swiper-slide .half {
        width: 48%;
        float: left;
        margin-right: 2%;
    }
    .hot-pic .main-box .hot-pic-list .swiper-slide .fo {
        width: 24%;
        float: left;
        margin-right: 2%;
    }
    .hot-pic .main-box .hot-pic-list .swiper-slide .fo2 {
        width: 24%;
        float: left;
    }
    .hot-pic .main-box .hot-pic-list .swiper-slide .hp-box {
        position: relative;
        overflow: hidden;
    }
    .hot-pic .main-box .hot-pic-list .swiper-slide .hp-box.b1 {
        width: 100%;
        height: 330px;
        float: left;
        margin-bottom: 20px;
    }
    .hot-pic .main-box .hot-pic-list .swiper-slide .hp-box.b2 {
        width: 48%;
        height: 160px;
        float: left;
        margin-right: 4%;
    }
    .hot-pic .main-box .hot-pic-list .swiper-slide .hp-box.b3 {
        width: 100%;
        height: 160px;
        float: left;
        margin-bottom: 20px;
    }
    .hot-pic .main-box .hot-pic-list .swiper-slide .hp-box.b4 {
        width: 100%;
        height: 330px;
        float: left;
        margin-bottom: 20px;
    }
    .hot-pic .main-box .hot-pic-list .swiper-slide .hp-box.b5 {
        width: 48%;
        height: 160px;
        float: right;
    }
    .hot-pic .main-box .hot-pic-list .swiper-slide .hp-box img {
        display: block;
        min-width: 100%;
        min-height: 100%;
        max-width: 150%;
        max-height: 150%;
    }
    .hot-pic .main-box .hot-pic-list .swiper-slide .hp-box p {
        position: absolute;
        width: 144px;
        height: 30px;
        top: 0;
        left: 0;
        background: url("https://www.huawei.com/~/media/CORPORATE/minisite/hc2019/v3/img/tit_bg6.png");
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        line-height: 30px;
        padding-right: 10px;
        text-align: center;
    }
}
