
/* introduction*/
.introduction {background: #f5fafe url(../images/introduction-bg.png) no-repeat center;padding: 40px 0 65px;background-size: cover;}
.introduction p {font-size: 18px;line-height: 1.375;color: #fff;}